#wrapper{
    padding: 10px 10px 10px 0px;
    background-color: #255173;
    width: 970px;
    height: auto;
    overflow: hidden;
}
#header{
    width: 970px;
    height: 100px;
    display: inline-block;
}
#pythonPic{
    height: 100px;
    width: 400px;
}
#search{
    float: right;
    height: 100px;
    width: 300px;
}
#textSize{
    height: 15px;
    width: 205px;
    font-size: 13px;
    text-align: right;
    color: white;
}
#searchGo{
    height: 30px;
    width: 250px;
    background-color: #444444;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 20px;
    display: inline-block;
}
#searchbar{
    height: 27px;
    width: 150px;
    background-color: white;
    margin-left: 20px;
    display: inline-block;
    border: 2px solid grey;
    text-align: center;
    color: #C6C6C6;
    font-size: 10px;
    box-shadow: 0px 0px 5px black;
    vertical-align: top;
}   
#go{
    height: 26px;
    width: 50px;
    background-color: #255173;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px black;  
    text-align: center;
    color: white;  
}
#navigationBar{
    height: 60px;
    width: 800px;
    background-color: #467EA9;
    margin-top: 30px;
    margin-left: 80px;
    box-shadow: 2px 2px 5px black;  
    text-align: center;
    color: white;
    font-size: 28px;
}
#leftLinks{
    width: 300px;
    height: 275px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
    list-style-position: inside;
    color: white;
    display: inline-block;
    vertical-align: top;
}
a{
    color: white;
}
#bodyText{
    width: 600px;
    height: 250px;
    display: inline-block;
    margin-top: 20px; 
}
#topText{
    width: 600px;
    height: 75px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
#bottomText{
    width: 600px;
    height: 190px;
}
.quote{
    color: orange;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}
#aloneQuote{
    text-align: center;
    color: white;
}
#whitePart{
    width: 980px;
    height: 250px;
    background-color: white;
    margin-right: 20px;
    vertical-align: top;
}
#left{
    width: 485px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
}
#right{
    width: 491px;
    height: 250px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}
#leftLine{
    width: 400px;
    height: 5px;
    background-color: #73A8D1;
    margin-left: 40px;
    margin-top: 15px;
}
#rightLine{
    width: 400px;
    height: 5px;
    background-color: #73A8D1;
    margin-left: 40px;
    margin-top: 15px;
}
p{
    text-align: center;
}
ul{
    text-align: center;
    color: #8AB6D8;
}
#footer{
    width: 970px;
    height: 100px;
    background-color: #255173;
}
#box1{
    display: inline-block;
    width: 200px;
    height: 30px;
    margin-top: 40px;
    color: #85B7DF;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#box2{
    display: inline-block;
    width: 200px;
    height: 30px;
    margin-top: 40px;
    color: #85B7DF;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#box3{
    display: inline-block;
    width: 200px;
    height: 30px;
    margin-top: 40px;
    color: #85B7DF;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#box4{
    margin-left: 425px;
    color: #85B7DF;
    font-size: 10px;
    margin-top: 20px;
}
